#contenedor{width:900px;height:700px;background-color:black;}
#cab{width:900px;height:150px;background-color:red;}
#bot{width:200px;height:450px;background-color:green;float:left;}
#b1{width:200px;height:90px;background-color:pink;}
#b2{width:200px;height:90px;background-color:orange;}
#b3{width:200px;height:90px;background-color:pink;}
#b4{width:200px;height:90px;background-color:orange;}
#b5{width:200px;height:90px;background-color:pink;}
#con{width:700px;height:450px;background-color:yellow;float:left;}
#pie{width:900px;height:100px;background-color:red;float:left;}