body{background-color:black;}
#all{width:100%;height:100%;background-color:black;display:table;}
#msup{width:100%;height:auto;display:table-row;}
#minf{width:100%;height:auto;display:table-row;}
#centradocell{width:100%;height:780px;background-color:black;display:table-row;}
#centradotab{width:100%;height:780px;background-color:black;display:table;}
#mizq{width:auto;height:100%;background-color:black;display:table-cell;}
#mder{width:auto;height:100%;background-color:black;display:table-cell;}
#centrocelda{width:1100px;height:780px;background-color:black;display:table-cell;}
#centrotabla{width:1100px;height:780px;background-color:black;display:table;}
#uno{width:1100px;height:40px;background-color:black;float:left;}
#cuerpo{width:1100px;height:700px;background-color:black;float:left;}
#tres{width:1100px;height:40px;background-color:black;float:left;}
#dos{width:50px;height:700px;background-color:black;float:left;}
#cuatro{width:50px;height:700px;background-color:black;float:left;}
#cizquierda{width:500px;height:700px;background-color:black;float:left;}
#cderecha{width:500px;height:700px;background-color:black;float:left;}
#cincoseissiete{width:500px;height:550px;background-color:black;float:left;}
#cincoseis{width:300px;height:550px;background-color:black;float:left;}
#cinco{width:300px;height:150px;background-color:black;float:left;}
#seis{width:300px;height:400px;background-color:black;float:left;}
#siete{width:200px;height:550px;background-color:black;float:left;}
#ocho{width:500px;height:150px;background-color:black;float:left;}
#nueve{width:500px;height:150px;background-color:black;float:left;}
#diezoncedoce{width:500px;height:550px;background-color:black;float:left;}
#diez{width:200px;height:550px;background-color:black;float:left;}
#oncedoce{width:300px;height:550px;background-color:black;float:left;}
#once{width:300px;height:400px;background-color:black;float:left;}
#doce{width:300px;height:150px;background-color:black;float:left;}