body{background-image:url(../imagenes/fondo.jpg);}
#cajamultimedia{
width:860px;
height:498px;
background-color:;
margin:10px auto;
border:5px double red;
}
#ifra{
width:660px;
height:498px;
background-color:;
float:left;

}
#contenedorminis{
width:200px;
height:500px;
background-color:;
overflow:auto;
float:left;

}
.miniaturas{
margin:5px 20px;
float:left;
display:block;

}
.fotomini{
width:130px;
float:left;
display:block;


}
#enlace{


}

a{
color:green;
text-decoration:none;

}
a:hover{
color:red;
}