#contenedor{width:1000px;height:925px;background-color:black;}
#cabecera{width:1000px;height:200px;background-color:red;float:left;}
#uno{width:200px;height:200px;background-color:green;float:left;}
#dos{width:600px;height:200px;background-color:pink;float:left;}
#tres{width:200px;height:200px;background-color:green;float:left;}
#menu{width:1000px;height:100px;background-color:orange;float:left;}
#m1{width:200px;height:100px;background-color:blue;float:left;}
#m2{width:200px;height:100px;background-color:yellow;float:left;}
#m3{width:200px;height:100px;background-color:blue;float:left;}
#m4{width:200px;height:100px;background-color:yellow;float:left;}
#m5{width:200px;height:100px;background-color:blue;float:left;}
#botonera{width:400px;height:600px;background-color:pink;float:left;}
#b1{width:400px;height:200px;background-color:white;float:left;}
#b2{width:400px;height:400px;background-color:black;float:left;}
#contenido{width:600px;height:600px;background-color:purple;float:left;}
#pie{width:1000px;height:25px;background-color:red;float:left;}