#contenedor{width:1200px;height:480px;background-color:black;}
#cabecera{width:1200px;height:200px;background-color:red;float:left;}
#logo{width:200px;height:200px;background-color:yellow;float:left;}
#banner{width:1000px;height:200px;background-color:blue;float:left;}
#menu{width:1200px;height:40px;background-color:green;}
#m1{width:200px;height:40px;background-color:orange;float:left;}
#m2{width:200px;height:40px;background-color:pink;float:left;}
#m3{width:200px;height:40px;background-color:orange;float:left;}
#m4{width:200px;height:40px;background-color:pink;float:left;}
#m5{width:200px;height:40px;background-color:orange;float:left;}
#m6{width:200px;height:40px;background-color:pink;float:left;}
#botonera{width:200px;height:200px;background-color:pink;float:left;}
#b1{width:200px;height:40px;background-color:green;}
#b2{width:200px;height:40px;background-color:red;}
#b3{width:200px;height:40px;background-color:green;}
#b4{width:200px;height:40px;background-color:red;}
#b5{width:200px;height:40px;background-color:green;}
#contenido{width:1000px;height:200px;background-color:yellow;float:left;}
#pie{width:1200px;height:40px;background-color:red;float:left;}