#uno{border-style:solid;border-color:red;}
#dos{border-style:solid;border-color:red;}
#tres{border-style:solid;border-color:red;}
#cuatro{border-style:solid;border-color:red;}
#cinco{border-style:solid;border-color:blue;position:absolute;left:500px;}
#seis{border-style:solid;border-color:red;}
#siete{border-style:solid;border-color:red;}
#ocho{border-style:solid;border-color:red;}
#nueve{border-style:solid;border-color:red;}
#unob{border-style:solid;border-color:red;}
#dosb{border-style:solid;border-color:red;}
#tresb{border-style:solid;border-color:red;}
#cuatrob{border-style:solid;border-color:red;}
#cincob{border-style:solid;border-color:green;position:absolute;top:1300px;}
#seisb{border-style:solid;border-color:red;}
#sieteb{border-style:solid;border-color:red;}
#ochob{border-style:solid;border-color:red;}
#nueveb{border-style:solid;border-color:red;}